.calibration_points {
    td {
        width: 3em;
        font-size: 8pt;
        height: 3em;
        padding: 4pt;
        text-align: center;
        vertical-align: middle;
    }
     tr:first-child {
        td:first-child {
            border-radius: $orig-grid-border-radius 0 0 0;
        }
        td:last-child {
            border-radius: 0 $orig-grid-border-radius 0 0;
        }
     }
    
     tr:last-child {
        td:first-child {
            border-radius: 0 0 0 $orig-grid-border-radius;
        }
        td:last-child {
            border-radius: 0 0 $orig-grid-border-radius 0;
        }
     }
}
