$orig-grid-border-radius: 4pt;
$core-grid-border-radius: 10pt;
$action-button-radius: 3pt;

$scaling_factor: 1.0;

$button_border: 1pt;

@import 'reset';
@import 'core_table';
@import 'finished_sessions';


$main-font: "Helvetica Neue";

* {
    font-family: $main-font;
}

body {
    padding: 1em;
}

.calibration_data {
    width: 40em;
    height: 30em;
    padding: 4pt;
}

label {
    display: block;
}

button:hover {
    border: $button_border solid orangered;
    background-color: #ffc7b3;
}

.timestamp {
    font-size: 10pt;
    text-align: center;
    color: darkblue;
}

button {
    border-radius: $action-button-radius;
    // display: block;
    padding: 6pt 18pt;
    margin: 4pt 0;
    border: $button_border solid black;
}
button.evaluate_add_to_series {
    margin-left: auto;
    margin-right: 0;
    display: block;
    width: 20em;
}

.bed_grid {
    margin: 4pt 10pt;
}

button.evaluate_finish_series {
    margin-left: auto;
    margin-right: 0;
    display: block;
    width: 20em;
}

.samples button {
    margin: 10pt 5pt;
}

div.left_box {
    display: inline-block;
    vertical-align: top;
}
div.right_box {
    display: inline-block;
    margin-left: 1em;
    vertical-align: top;
}

.box_holder {
    margin-bottom: 15pt;
}

